<footer class="container-fluid" style="margin-top: 100px;">
	<p class="text-center">
		Copyright ©2015 Rails101s <br>
		Design by <a href="http://github.com/Gaolz/" target="_new">Gaolz</a>
	</p>
</footer>